@import url('https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet');

.tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag{
    display: flex;
    gap: 10px;
}

.tag p{
    font-family: "Montserrat", sans-serif;
    background: rgb(255, 96, 96);
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: .5em 30px;
    border-radius: 13px;
}