@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag{
    display: flex;
    gap: 10px;
}

.tag p{
    font-family: "Montserrat", sans-serif;
    background: rgb(255, 96, 96);
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: .5em 30px;
    border-radius: 13px;
}

@media all and (max-width: 500px) {

    .tags{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .tag{
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .tag p{
        font-size: 10px;
        padding: 0.45em 25px;
        border-radius: 6px;
        margin: 0;
    }

}