@import url('https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet');

.Error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin: 100px 0;
}

.Error h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 288px;
    margin: 0;
    color: rgba(255, 96, 96, 1);
}

.Error p{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin: 0;
    color: rgba(255, 96, 96, 1);
}

.retourner{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 500;
}