@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin: 100px 0;
}

.Error h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 288px;
    margin: 0;
    color: rgba(255, 96, 96, 1);
}

.Error p{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin: 0;
    color: rgba(255, 96, 96, 1);
}

.retourner{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

@media all and (max-width: 500px) {

    .Error{
        margin: 139px 1em;
    }

    .Error h5{
        font-size: 96px;
    }

    .Error p{
        font-size: 18px;
        text-align: center;
    }

}