@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Footer {
    display: flex;
    flex-direction: column;
    background: black;
    align-items: center;
    padding: 30px;
}

.Footer img {
    width: 122px;
}

.Footer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin: 30px 0 0 0;
}


@media all and (max-width: 500px) {

    .Footer {
        padding: 60px;
    }

    .Footer h3 {
        font-size: 15px;
        width: 149px;
        font-weight: 400;
        margin: 15px 0 0 0;
        text-align: center;
    }

}